<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="panel panel-default">
  
  <div class="panel-heading">メールアドレス</div>
  <div class="panel-body"><%= @user.email %></div>

  <div class="panel-heading">プロフィール</div>
  <div class="panel-body"><%= @user.profile %></div>

  <div class="panel-heading">地域</div>

</div>

(<%= link_to "edit" , edit_user_path(@user) %>)